* {
    /* color: rgb(0, 0, 0); */
    margin: 0%;
    padding: 0%;

    /* background: url('/backg.jpg'); 
   background-repeat: no-repeat; */
}

.left {
    text-decoration: none;
    margin-top: 20px;
    font-size: 20px;
    /* border: solid red; */
    display: inline-block;
    margin-left: 34px;
    position: absolute;
    color: white;

}
#maintext:hover {
    color: red;
    text-decoration: none;
    text-shadow: 20px;
}

.right{
    display: inline-block;
    position: absolute;
    right: 26px;
    top: 27px;

}

.mid {
    text-decoration: none;
    /* display: block; */
    width: 36%;
    margin: 29px auto;
    margin-top: 10px;
    /* display: flex; */

}

.navbar {
    /* display: inline-block; */
}

.navbar li {
    text-transform: none;
    color: red;
    display: inline-block;
    padding: 10px;
}

.navbar li a {
    padding: 40px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.container {
    color: white;
    background-image: url('/backg.jpg');
    position: absolute;
    display: inline-block;
    /* border: solid rgb(0, 0, 0); */
    right: 0px;
    top: 73px;
    padding: 251px;
    margin-right: 0px;
    padding-bottom: 290px;
}

#bt1 {
    color: #191919;
    padding: 5px;
    border: none;
    margin: 5px;
    margin-left: 50px;
}

#bt2 {
    padding: 5px;
    border: none;
}

.image {
    position: absolute;
    display: inline-block;
    margin-left: 10px;
}

#image1 {
    position: absolute;
    /* border: solid black; */
    display: inline-block;
    height: 108%;

}

.header {
    margin-top: 1px;
    display: flex;
    background-color: #191919;
    margin-bottom: auto;
}

.logo {
    display: inline-block;
    height: 10%;
    /* border: solid black; */
    width: 10px;
    background-size: 10px;
}

#backg {
    position: absolute;
    display: inline-block;
}