*{
    color: rgb(0, 0, 0);
    margin: 0%;
    padding: 0%;
    
   /* background: url('/backg.jpg'); 
   background-repeat: no-repeat; */
}
.left {
    font-size: 30px;
    /* border: solid red; */
    display: inline-block;
    margin-left: 34px ;
    position: absolute;

}

.right{
    /* border: solid green; */
    display: inline-block;
    position: absolute;
    right: 3px;
    top: 20px;

}

.mid{
    text-decoration: none;
    /* border: solid yellow; */
    /* display: block; */
    width: 36%;
    margin: 29px auto;
    margin-top: 0px;
    display: flex;

}
.navbar {
    /* display: inline-block; */
}

.navbar li {
    text-transform: none;
    color: red;
    display: inline-block;
    padding: 10px;
}
.navbar li a{
    padding: 40px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.container {
    background-image: url('/backg.jpg');
    position: absolute;
    display: inline-block;
    /* border: solid rgb(0, 0, 0); */
    right: 0px;
    top: 200px;
    padding: 200px;
    margin-right: 0px;
}

#bt1 {
    padding: 5px;
    border: none;
    margin: 5px ;
    margin-left: 50px;
}

#bt2 {
    padding: 5px;
    border: none;
}

.image {
    position: absolute;
    display: inline-block;
    margin-left: 10px ;
}

#image1 {
    position: absolute;
    /* border: solid black; */
    display: inline-block;
    height: 98%;

}
.header {
    margin-top: 1px;
    display: flex;
    background-color: pink;
}

.logo{
    display: inline-block;
    height: 10%;
    /* border: solid black; */
    width: 10px;
    background-size: 10px;
}

#backg{
    position: absolute;
    display: inline-block;
}