*{
  margin: 0%;
  padding: 0%;
}

body {
  background-color:rgb(33, 37, 41, 1);
  /* background-image: url("/main-img.jpg"); */
  background-
  background-size: cover;
  /* background-repeat: no-repeat; */
}

#main-image {
  display: flex;
  margin-right: 50%;
  padding-left: 0%;
  background-size: cover;
  border: black;
  border-top: 20px;
  /* height: 500%; */
}

.hey {
  margin-left: 50%;
  margin-top: 20%;

}

#mainimage {
  margin-left: 0%;
  padding: 0%;
}

#firstf {
  color: aqua;
  margin-left: 50%;
}

.main-form{
  /* color: black;
  background-color: black; */
  padding-left: 50%;
}

.navbarr {
  display: flex;
  color: white;
  padding: 21px 70px;
  flex-direction: row;
  
}

.navbarr img{
  color: black;
  padding-right: 30px;
  opacity: 1.5;
  
}

.login-form {
  height: 10;
  width: 500px;
  margin: 50px auto;
  margin-top: 150px;
  font-size: 15px;
}

.login-form form{
  padding-right: auto;
  margin-left: 2px;
  margin-bottom: 15px;
  border-radius: 20px;
  background: white;
  color: aliceblue;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  height: 418px;
  width: 377px;
}

.login-form h2 {
  margin: 0 60px 15px;
  -webkit-text-fill-color: black;
  
}

.main-form{
  padding-right: 0%;
  color: black;
}

.form-control, .btn {
  padding: 10px;
  padding-left: 10px;
  min-height: 38px;
  border-radius: 8px;
}
.btn {        
  font-size: 15px;
  font-weight: bold;
  background-color: whitesmoke;
  border-color: rgb(8, 16, 54);
}